Source: freeship
Section: x11
Priority: optional
Maintainer: markmal <markmal@github.com>
Build-Depends: debhelper (>= 8.0.0), lazarus (>=1.4.0), libqt4pas-dev, git, libgl1-mesa-dev, inkscape, imagemagick
Standards-Version: 3.9.4
Homepage: https://github.com/markmal/freeship-plus-in-lazarus
#Vcs-Git: git@github.com:markmal/freeship-plus-in-lazarus.git
#Vcs-Browser: https://github.com/markmal/freeship-plus-in-lazarus

Package: freeship
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FREE!ship plus is a program for designing and analysing ships yachts and boats.
